<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login and Registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic" %}" >
        <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}" >
        <link rel="stylesheet" href="{% static "assets/css/user.css" %}" >
    </head>
    <style>
        .box{
            position: relative;
            margin-left: 0%;
            margin-top: 0%;
            display: inline-block;
           
            padding: 10px;
            width: 30%;
            vertical-align: top;

        }

        #bigger {
            width: 60%;
        }

        p{
            margin: 5px;
            padding: 0px;
        }

        body {
            background-color: lightgrey;
        }

    </style>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="col-md-12">
                    <a class="navbar-brand navbar-link" href="#"> <i class="fa fa-envira"></i> The Beautiful Site to Inspire Conversation</a> 
                    <div class="col-md-6"></div>
                    <a class="navbar-brand navbar-link" href="/">Home</a>
                    <a class="navbar-brand navbar-link" href="/signin">Sign In</a>
                    
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                </div>
            </div>
        </nav>
        <div class="box" id="bigger">
            <h2>Sign in</h2>

            <form action="/login_process" method="post">
                {% csrf_token %} 
                <p>Email:<input type="text" name='email'></p>
                <p>Password:<input type="text" name='pw'></p>
                <button type='submit'>Login</button>
            </form>
          
        </div>

        <p><a href="/register">Don't have an account? Register</a></p>


        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>